{% if page.date %}{% capture time %}<i class="fa fa-calendar-o"></i> {{ page.date_time_html }}{% endcapture %}{% endif %}
{% if post.date %}{% capture time %}<i class="fa fa-calendar-o"></i> {{ post.date_time_html }}{% endcapture %}{% endif %}

{% if page.updated %}{% capture updated %}<i class="fa fa-calendar-o"></i> {{ page.date_time_updated_html }}{% endcapture %}{% endif %}
{% if post.updated %}{% capture updated %}<i class="fa fa-calendar-o"></i> {{ post.date_time_updated_html }}{% endcapture %}{% endif %}
